API_ID = "7031536"   # Get it from my.telegram.org
API_HASH = "fada850e5a6155f164c80e61d0ff0b82"   # Get it from my.telegram.org
FEED_URLS = "https://torrentgalaxy.to/rss"  # RSS Feed URL of the site.
BOT_TOKEN = "1988864719:AAEYBzKuKCzCDt5wJPnhNwgUDJOX67mjMDE"   # Get it by creating a bot on https://t.me/botfather
LOG_CHANNEL = "-1001738880071"   # Telegram Channel ID where the bot is added and have write permission. You can use group ID too.
INTERVAL = "120"   # Check Interval in seconds.  
MAX_INSTANCES = "4"   # Max parallel instance to be used.
DATABASE_URL = "postgres://krfhqidlpxbwbk:ef644d6e9f2fccf9aa01674c64c3480ea397841d55b37e25f287c8d6f9d304fa@ec2-52-210-120-210.eu-west-1.compute.amazonaws.com:5432/d18tu5mgtalrh3" #Postgres DB url (Heroku users, just add Heroku Postgres Add-on

# Following variabls are required only if you want to use your tg account to send /mirror cmd to any mirror bot.
MIRROR_CHAT_ID = ""   #Group/chat_id of mirror chat or mirror bot to send mirror cmd.
MIRROR_CMD = "/mirror"   #if you have changed default cmd of mirror bot, replace this.
STR_SESSION = ""   #String session generate using your tg mobile number for sending mirror cmd on your behalf. Generate by running
